.mrmr{
    font-family: 'Arizonia', cursive;
    font-weight: bold;
    font-size: 50px;
}

a{
    color:white;
    
}

.black{
    background-color: black;
}

.padding50{
    padding: 50px;
}

.bold{
    font-weight: bold;
}

.icons{
    font-size: 30px;
}